
body{
  margin: 0;
	background-color: #01b369;
  font-family:"poppinslight";
	font-size: 15px;
  line-height: 150%;
  color: #444

}

.app-main {
    display: flex;
    height: 100%;
    background: rgba(0, 0, 0, 0) url("../imgs/kid.png") no-repeat scroll 102% 106%;
    flex-flow: column nowrap;
}

.app-header{
    display: none;
    height: 70px;
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
}

.app-body {
    display: flex;
    overflow: auto;
    flex: 2;
}

.app-content{
    width: 100%;
    padding: 1%;
    background: url(../imgs/kid.png);
}

.side-bar {
    flex: 0 0 200px;
}

.side-bar-area {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    vertical-align: middle;
    background: #f5f5f5 none repeat scroll 0 0;
		align-items: center;
}

/*.loopui-form .stacked input, .loopui-form .stacked select, .loopui-form .stacked textarea, .loopui-form .stacked2 input, .loopui-form .stacked2 select, .loopui-form .stacked2 textarea {
    width: 100% !important;
    height: 25px;
}
.loopui-form input, .loopui-form select, .loopui-form textarea {
    display: inline-block;
    width: 67% !important;
}

.loopui-form .form-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.loopui-form .form-item div {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 100px;
}

.loopui-form .stacked label {
    padding-top: 0;
    width: 100%;
}
.loopui-form label {
    display: inline-block;
    padding: 0;
    width: 29%;
}*/

.loopui-form{
  max-width: 700px;
  padding-bottom: 20px;

}

.loopui-form-stacked{
  margin-top: 40px;
}

.loopui-form label{
  display: inline-block;
}

.loopui-form input, textarea{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  width: 100% !important;
  font-size: 15px;
  font-family:"poppinslight" !important;
}

.submit-btn{
  padding: 8px 30px;
  color: #fff;
  font-weight: 800;
  background: #444 none repeat;
  border-radius: 4px;
  border-color: transparent;
}

.submit-btn:hover{
  cursor: pointer;
  background:#01b369;
}

.nav-helper {
    float: left;
    width: 100%;
    padding: 8px 42px;
}

.img-gallery{
  float: left;
  padding-right: 25px;
  width: 25%;
}


.social-media-mob{
    position: absolute;
    left: 13px;
    display: flex;
    font-size: 23px;
}

.social-media-mob > a{
  margin-top: 10px;
  padding-left: 20px !important;
  font-size: 27px !important;
}

.social-media {
    position: absolute;
	  bottom: 53px;
    padding: 30px;
		padding-left: 38px;
    font-size: 23px;
	}
.social-media a{
	color: #444;
}
.app-content p{
	font-weight: 100;
}

.social-media a:hover{
	color: #01b369;
}
.nav-helper li a{
    text-decoration: none;
    color: #444;
		font-size: 14px;
		font-weight: 500;
}

.nav-helper li a:hover{
    color:#01b369;
}

.nav-helper li {
    margin-bottom: 20px;
    list-style: none;
    text-transform: uppercase;
}

.app-logo img{
    width: 135px;
    padding: 0 0 9px 20px;
}

.app-header img {
    width: 150px;
    margin: 0 auto;
		padding: 14px 0 0 10px;

    text-align: center;
}

h3,h2,h1{
  /*text-transform: uppercase;*/
  font-weight: normal;
  color:  #999;
}

.pop-nav{
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;

	font-size: 24px;
}

.pop-nav a{
	color: #444;
}

.pop-nav a:hover{
	color: #01b369;
}

.nav-mob {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow-x: hidden;

    width: 0;
    height: 100%;
    padding-top: 60px;

    transition: 0.5s;

    background-color: #111;
}

.nav-mob a {
    display: none;

    padding: 8px 8px 8px 32px;

    transition: 0.3s
    text-decoration: none;

    color: #818181;

    font-size: 25px;
}

.nav-mob a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.nav-mob .closebtn {
    position: absolute;
    top: 0;
    right: 25px;

    margin-left: 50px;

    font-size: 36px;
}

.sidenav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 0;
    height: 100%;
    padding-top: 60px;
    transition: 0.5s;
    background-color: #111;
}

.sidenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    transition: 0.3s;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-left: 50px;
    font-size: 36px;
}

/*
    Responsive
*/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .side-bar{
        display: none;
    }
    .app-header{
        display: block;

    }
		.app-content{
			padding:0 15px 0 15px;
      margin-top: 70px;
		}

    .loopui-form input, textarea{
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 2px;
      display: inline-block;
      width: 80% !important;
    }

    .loopui-form label{
      display: inline-block;
    }

    /*.loopui-form .stacked input, .loopui-form .stacked select, .loopui-form .stacked textarea, .loopui-form .stacked2 input, .loopui-form .stacked2 select, .loopui-form .stacked2 textarea {
        width: 100% !important;
    }*/

}



/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'poppinsbold';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/p-bold-webfont.woff2') format('woff2'),
         url('fonts/p-bold-webfont.woff') format('woff');

}




@font-face {
    font-family: 'poppinslight';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/p-light-webfont.woff2') format('woff2'),
         url('fonts/p-light-webfont.woff') format('woff');

}




@font-face {
    font-family: 'poppinsmedium';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/p-medium-webfont.woff2') format('woff2'),
         url('fonts/p-medium-webfont.woff') format('woff');

}




@font-face {
    font-family: 'poppinsregular';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/p-regular-webfont.woff2') format('woff2'),
         url('fonts/p-regular-webfont.woff') format('woff');

}




@font-face {
    font-family: 'poppinssemibold';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/p-semibold-webfont.woff2') format('woff2'),
         url('fonts/p-semibold-webfont.woff') format('woff');

}



@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.fa-facebook-official:before {
  content: "\f230";
}

.fa-facebook-square:before{
	content: "\f082";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-print:before {
  content: "\f02f";
}

.fa-navicon:before {
  content: "\f0c9";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-arrow-down:before {
  content: "\f063";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-tachometer:before {
  content: "\f0e4";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-cog:before {
  content: "\f013";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-caret-down:before {
  content: "\f0d7";
}


.fa-users:before {
  content: "\f0c0";
}

.fa-handshake-o:before {
  content: "\f2b5";
}


.fa-bar-chart:before {
  content: "\f080";
}


.fa-envelope-o:before{
  content: "\f003";
}
